<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Student Data</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"
    />
    <!-- DataTables JS -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/ajex.css" />
    <script>
      function goToHome() {
          window.location.href = "/addStudent";
      }

      function recordUserActivity(action, id) {
          $.ajax({
              type: "POST",
              url: "/record_activity",
              data: { action: action, id: id },
              success: function (response) {
                  console.log("User activity recorded successfully");
              },
              error: function (err) {
                  console.error("Error recording user activity", err);
              },
          });
      }

      $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/showalll",
            success: function (result) {
                myData = result;
                if (myData != null || myData != "") {
                    $("#dynamicHeader").html(
                        "<tr><th>ID</th><th>Name</th><th>RollNo</th><th>Department</th><th>Degree</th><th>DOB</th><th>City</th><th>Interest</th><th>Actions</th></tr>"
                    );

                    if ($.fn.DataTable.isDataTable("#show")) {
                        $("#show").DataTable().destroy();
                    }
                    table = $("#show").DataTable({
                        data: myData,
                        columns: [
                            { data: "id" },
                            { data: "Name" },
                            { data: "RollNo" },
                            { data: "Department" },
                            { data: "Degree" },
                            { data: "Dob" },
                            { data: "City" },
                            { data: "Interest" },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return (
                                        '<div class="action-buttons">' +
                                        '<div class="btn-container">' +
                                        '<button class="btn btn-info view" data-id="' + row.id + '">View</button>' +
                                        "</div>" +
                                        '<div class="btn-container">' +
                                        '<button class="btn btn-warning update" data-id="' + row.id + '">Update</button>' +
                                        "</div>" +
                                        '<div class="btn-container">' +
                                        '<button class="btn btn-danger delete" data-id="' + row.id + '">Delete</button>' +
                                        "</div>" +
                                        "</div>"
                                    );
                                },
                            },
                        ],
                        lengthMenu: [10, 20, 30, 40, 50, 70, 100],
                        pageLength: 10,
                    });

                    // Event delegation for dynamically created buttons
                    $('#show').on('click', '.view', function () {
                        var id = $(this).data('id');
                        recordUserActivity("View", id);
                        window.location.href = "/view/" + id;
                    });

                    $('#show').on('click', '.update', function () {
                        var id = $(this).data('id');
                        recordUserActivity("Update", id);
                        window.location.href = "/update/" + id;
                    });

                    $('#show').on('click', '.delete', function () {
                        var id = $(this).data('id');
                        recordUserActivity("Delete", id);
                        window.location.href = "/delete/" + id;
                    });
                }
            },
        });
    });
</script>
  </head>
  <body>
    <button onclick="goToHome()">Home</button>
    <div class="table-container">
      <table id="show" class="table table-bordered">
        <thead id="dynamicHeader"></thead>
      </table>
    </div>
  </body>
</html>
